# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.log

# Environment variables & local overrides
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Testing & Coverage
coverage/
